
@import "rooms_common.css";

.hero {
    background-image: url('../img/80_s_banner.jpg');
}

.description__img {
    background-image: url('../img/80s_vibes.jpg');
}

.other__item-1 {
    background-image: url('../img/wild_west.jpg');
}

.other__item-2 {
    background-image: url('../img/star_wars.jpg');
}

.other__item-3 {
    background-image: url('../img/neon_style.jpg');
}