.about__title {                /*добавил отступ как в макете*/
    margin-bottom: 50px;
}

.about__text {
    font-size: 20px;
}

.about__text_margin-top {
    margin-top: 20px;
}

/*Цитата*/
.about__bq-text {
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    margin-left: 55px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about__bq-text:before {
    content: "\201C";
    font-size: 44px;
    font-weight: 900;
    color: #6C0287;
    position: absolute;
    left: -40px;
    top: -10px;
}

.about__bq-text:after {
    content: "\201D";
    font-size: 44px;
    font-weight: 900;
    color: #6C0287;
    position: absolute;
    right: 85px;
    top: 145px;
}

.about__bq {
    margin-top: 34px;
}

.about__bq-autor {
    display: inline-block;
    max-width: 250px;
    font-size: 20px;
    margin-left: 29px;
}

.about__bq-img {
    vertical-align: bottom;
}

.about__text-wrapper {
    display: inline-block;
    max-width: 500px;
    min-height: 596px;
    vertical-align: top;
}


.about__photo-wrapper {

    margin-right: 73px;
    min-height: 596px;
}

.about__text_prewrap {
    white-space: pre-wrap;
}

.about__bq-span {
    padding-left: 111px;
}