.advantages {
    padding-top: 50px;
    padding-bottom: calc(50px + var(--translate-card, 70px));
}

.advantages__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.advantages__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.advantages__item{
    position: relative;
    flex-basis: 380px;
    height: 228px;
    padding-left: 40px;
    padding-top: 168px;
}

.advantages__item:nth-child(3n-1){
    transform: translateY(var(--translate-card, 70px));
}

.advantages__item:nth-child(3n-1):hover {
    
    transform: scale(1.1) translateY(var(--translate-card, 70px));
    transition-duration: 0.8s;
}

.advantages__item:hover { 
    transform: scale(1.1);
    transition-duration: 0.8s;
}



.advantages__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.advantages__item_vr {
    background-image: url("../img/vr.jpg");
}

.advantages__item_audio {
    background-image: url("../img/audio.jpg");
}

.advantages__item_karaoke {
    background-image: url("../img/karaoke.jpg");
}

.advantages__item_games {
    background-image: url("../img/games.jpg");
}

.advantages__item_cinema {
    background-image: url("../img/cinema.jpg");
}

.advantages__item_console {
    background-image: url("../img/console.jpg");
}
