.footer {
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer-container {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
    padding-bottom: 10px;;
}

.footer__title {
    margin-bottom: 54px;
}

/*Контакты*/
.footer__address {
    font-style: normal;
    margin-bottom: 39px;
}



.footer__text-location {
    display: inline-block;
    font-weight: 700;
    padding-left: 30px;
    margin-bottom: 38px;
    vertical-align: top;
}

.footer__tel-wrap{
    margin-bottom: 10px;
}

.footer__link-tel {
    font-weight: 700;
    padding-left: 30px;
    vertical-align: top;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link-tel:hover,
.footer__link-mail:hover {
    color: #EADEED;
    border-bottom: 1px solid #CD06FF;
}

.footer__link-mail {
    font-weight: 700;
    padding-left: 26px;
    vertical-align: top;
    text-decoration: none;
    color: #FFFFFF;
}

/*Соцсети*/

.footer__sm-list {
    margin-bottom: 175px;
}

.footer__social-item, .footer__social-link {
display: inline-block;
width: 50px;
height: 50px;
margin-right: 26px;
}

.footer__social-item:last-child,
.footer__social-link:last-child {
    margin-right: 0;
}

.footer__social-link:hover > svg {
    fill: #EADEED;
}

.footer__social-link:focus > svg {
    fill: #EADEED;
    border: 1px solid #CD06FF;
}

.footer__social-link:active > svg {
    fill: #CD06FF;
}

.footer__map {
    float: right;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__copyright-text {
    font-size: 14px;
    line-height: 16px;
}
.footer__copyright-mail:hover{
    fill: #EADEED;
    border-bottom: 1px solid #CD06FF;
}