.footer {
    padding-top: 50px;
    padding-bottom: 21px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
    margin-bottom: 46px;
}

.footer__common-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
}

/*Контакты*/
.footer__flex-wrap {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;


}

.footer__address {
    padding-left: 50px;
    font-style: normal;
    display: grid;
    align-items: center;
    grid-template-columns:minmax(max-content, 320px);
    gap: 11px;
    grid-template-rows: 89px repeat(2, minmax(28px, max-content));
    grid-template-areas: 
        "adress"
        "tel"
        "mail";

}

.footer__text-location {
    position: relative;
    font-weight: 700;
    grid-area: adress;
}

.footer__text-location:before {
    position: absolute;
    content: "";
    left: calc(-28px - 16px);
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;

    background-image: url("../img/icons/location.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__link-tel {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    grid-area: tel;
}

.footer__link-tel::before{
    position: absolute;
    content: "";
    left: calc(-28px - 16px);
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;

    background-image: url("../img/icons/phone-call.svg");
    background-size: cover;
    background-repeat: no-repeat;
}



.footer__link-tel:hover,
.footer__link-mail:hover {
    color: #EADEED;
    border-bottom: 1px solid var(--main-color-1, #CD06FF);
}

.footer__link-mail {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    grid-area: mail;
}

.footer__link-mail::before{
    position: absolute;
    content: "";
    left: calc(-28px - 16px);
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;

    background-image: url("../img/icons/envelope.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Соцсети*/

.footer__sm-list {

    display: flex;
    gap: 19px;
}

.footer__social-item, .footer__social-link {
    width: 50px;
    height: 50px;

}


.footer__social-link:hover > svg {
    fill: #EADEED;
}

.footer__social-link:focus > svg {
    fill: #EADEED;
    border: 1px solid var(--main-color-1, #CD06FF);
}

.footer__social-link:active > svg {
    fill: var(--main-color-1, #CD06FF);
}

.footer__map {
    object-fit: cover;
    width: 100%;
    height: 274px;
    max-width: 680px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__copyright-text {
    font-size: 14px;
    line-height: 16px;
}

.footer__copyright-text-end {
    min-width: 157px;
    text-align: end;
}

.footer__copyright-mail {
    display: block;
    margin-top: 6px;
}

.footer__copyright-mail:hover{
    fill: #EADEED;
    border-bottom: 1px solid var(--main-color-1, #CD06FF);
}

@media (max-width: 1310px) {
    .footer {
        padding-top: 12px;
        padding-bottom: 19px;
    }

    .footer__title {
        margin-bottom: 26px;
    }

    .footer__common-wrap {
        margin-bottom: 92px;
    }

    .footer__map {
        max-width: 542px;
    }

    .footer__address {
        grid-template-columns: minmax(max-content, 260px);
        gap: 7px;
    }

    .footer__text-location:before,
    .footer__link-tel::before,
    .footer__link-mail::before{
        width: 26px;
        height: 26px;
    } 

}

@media (max-width: 960px) {
    .footer {
        padding-top: 10px;
    }

    .footer__title {
        margin-bottom: 30px;
    }

    .footer__common-wrap {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 75px;
    }

    .footer__flex-wrap {
        gap: 0;
    }

    .footer__map {
        height: 337px;
    }

    .footer__address {
        text-align: center;
        grid-template-columns: minmax(max-content, 380px);
        grid-template-rows: repeat(3, max-content);
        gap: 27px;
        padding-left: 0;
    }

    .footer__sm-list {
        justify-content: center;
    }

    .footer__link-tel::before{
        left: 45px;
    } 

    .footer__text-location:before{
        top: 0;
        left: 100px;
        transform: none;;
    }

    .footer__link-mail::before{
        left: 25px;
    }
}

@media (max-width: 660px) {
    .footer {
        padding-top: 7px;
        padding-bottom: 24px;
    }

    .footer__title {
        margin-bottom: 15px;
    }

    .footer__common-wrap {
        gap: 35px;
        margin-bottom: 63px;
    }
    .footer__address {
        grid-template-columns: minmax(max-content, 280px);
        font-size: 14px;
        line-height: 18px;
        gap: 10px;
    }

    .footer__map {
        max-width: 280px;
        height: 194px;
    }

    .footer__text-location:before,
    .footer__link-tel::before,
    .footer__link-mail::before{
        width: 20px;
        height: 20px;
    } 

    .footer__link-tel::before{
        left: 50px;
    } 

    .footer__text-location:before{
        left: 82px;
    }

    .footer__link-mail:before{
        left: 35px;
    }

    .footer__social-item, 
    .footer__social-link {
        width: 30px;
        height: 30px;
    }

    .footer__copyright,
    .footer__copyright-text {
        align-items: center;
        flex-direction: column;
        text-align: center;

        font-size: 12px;
        line-height: 16px;
    }

    .footer__copyright{
        gap: 40px;
    }
}
