.halls {
    padding-top: 50px;
    padding-bottom: 50px;
}

.halls__title {
    margin-bottom: 40px;
}

.halls__list {

}

.halls__item {
    display: inline-block;
    position: relative; /*для вертикальной отцентровки вложенного параграфа*/
    width: 580px;
    min-height: 349px;
    background-size: cover;
    margin-bottom: 20px;
    margin-right: 20px;
}

.halls__item:nth-child(2n) {  
    margin-right: 0;
}

.halls__item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.halls__item-1 {
    background-image: url("../img/80s_vibes.jpg");
}

.halls__item-2 {
    background-image: url("../img/star_wars.jpg");
}

.halls__item-3 {
    background-image: url("../img/wild_west.jpg");
}

.halls__item-4 {
    background-image: url("../img/neon_style.jpg");
}


.halls__room-name {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    position: absolute;   /*решение для вертикального выравнивания внутри блока, если знаешь высоту https://learn.javascript.ru/css-center*/
    top: 50%;
    left: 103px;
    margin-top: -40px;
}