.header {
    padding-top: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navigation__menu-btn {
    display: none;
}

.navigation__list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.navigation__item {
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}

.navigation__link:hover {
    box-shadow: 2px 2px var(--main-color-1, #CD06FF), 4px 4px;
}

.navigation__order-wrapper {
    min-width: 280px;
    width: max-content;
    height: 55px;
    border: 3px solid var(--main-color-1, #CD06FF);
    border-radius: 10px;
    text-align: center;
}

.navigation__link-order {
    display: block;
    width: auto;
    height: 100%;
    padding: 10px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation__link-order:hover,
.navigation__link-order:focus {
    background: var(--main-color-2, #6C0287);
    border: 3px solid var(--main-color-2, #6C0287);
    border-radius: 10px;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

.navigation__link-order:active {
    background: var(--main-color-3, #640AA3);
    outline: 1px solid #000000;
    transition-duration: 0.8s;
}

.popup {
    display: none;
}

@media (max-width: 1310px) {

    .navigation {
        gap: 79px;
    }

    .navigation__logo {
        width: 87px;
        height: 55px;
    }

    .navigation__list {
        gap: 20px;
    }
    .navigation__item {
        font-size: 18px;
        line-height: 22px;
    }

    .navigation__order-wrapper {
        height: 45px;
        min-width: 229px;
    }

    .navigation__link-order {
        font-size: 18px;
        line-height: 24px;   
        padding: 9px 0;
    }
}

@media (max-width: 1040px) {

    .navigation {
        gap: 0;
    }

    .navigation__menu-btn {
        display: block;
        width: 54px;
        height: 29px;
        background-color: transparent;
        border: none;
        order: -1;
    }

    .navigation__list {
        display: none;
    }

    .popup {
        position: fixed;
        top: 85px;
        left: -100%;
        width: 100%;
        background-color: #000000;
        z-index: 1;
        display: flex;
    }

    
    .popup .navigation__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 39px;
        padding: 50px 0;
        overflow: auto;
    }
}

@media (max-width: 480px) {

    .header {
        padding-top: 20px;
    }

    .navigation__order-wrapper.display_none  {
        display: none;
    }

    .navigation__menu-btn {
        width: 39px;
        height: 20px;
    }

    .navigation__logo {
        width: 66px;
        height: 42px;
    }
} 