.reserve {
    padding-top: 81px;
    padding-bottom: 80px;
    background: var(--main-color-4, #440F51);

}

.reserve__title {
    margin-bottom: 46px;

}

.container-purple {

}

.reserve__hall {
    display: flex;
    gap: 60px;
    border: none;
    padding: 0;
    padding-bottom: 60px;
}

.reserve__hall-legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.reserve__choose-room {

}

.reserve__room-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    flex-basis: 250px;
    padding: 7px 15px 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.reserve__room-name:hover{
    background: #EADEED;
    border: 3px solid var(--main-color-3, #640AA3);
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
} 

.reserve__room-name:focus{
    background: #FFFFFF;
    border: 3px solid var(--main-color-3, #640AA3);
    border-radius: 8px;
    transition-duration: 0.6s;
} 

.reserve__room-name:active{
    background: var(--main-color-2, #6C0287);
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    transition-duration: 0.2s;
}


.reserve__service {
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    padding: 0;
    border: none;
    padding-bottom: 60px;
}

.reserve__service-legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.reserve__console {
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    gap: 20px;
    padding: 0;
    border: none;
}

.reserve__console-legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 23px;
}

.reserve__console-input {
    margin-right: 7px;
    width: 27px;
    height: 27px;
    vertical-align: bottom;
}


.reserve__console-input:focus,
.reserve__games-input:focus,
.reserve__extra-input:focus{
    outline: 1px solid var(--main-color-1, #CD06FF);

}

.reserve__border-games {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    padding: 0;
    border: none;
    gap: 20px;
}

.reserve__border-games-legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.reserve__games-input {
    margin-right: 7px;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

.reserve__extra {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    gap: 20px;
    padding: 0;
    border: none;
}

.reserve__extra-legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 23px;
}

.reserve__extra-input {
    margin-right: 7px;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

.reserve__console-name,
.reserve__games-name,
.reserve__extra-name {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
}

.reserve__data {
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 auto;
    gap: 36px 50px;
    border: none;
    padding-bottom: 40px;
}

.reserve__data-legend {
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.reserve__wrap-1 {
    flex-basis: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px 32px;

}

.reserve__date-input {
    width: 134px;
    min-height: 52px;
}

.reserve__time-input {
    width: 134px;
    min-height: 52px;
}

.reserve__persons-input {
    min-height: 52px;
    padding-left: 20px;
    width: 100%;
}

.reserve__persons-input::placeholder {

    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
}

.reserve__wrap-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    gap: 36px;

}

.reserve__name-label{
    position: absolute;
    top: -20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.reserve__name-input {
    max-width: 280px;
    min-height: 52px;
}


.reserve__surname-label {
    position: absolute;
    top: 68px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.reserve__surname-input {
    max-width: 280px;
    min-height: 52px;
}


.reserve__wrap-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 300px;
    gap: 36px;
}

.reserve__tel-label {
    position: absolute;
    top: -20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.reserve__tel-input {
    padding: 0;         /*Чтобы инпут не расширял флекс-элемент div, который в Хроме переполняет контейнер */
    min-height: 52px;
}

.reserve__tel-input:focus{
    border: 2px solid var(--main-color-1, #CD06FF);
}

.reserve__mail-label {
    position: absolute;
    top: 68px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.reserve__mail-input {
    padding: 0;         /*Чтобы инпут не расширял флекс-элемент div, который в Хроме переполняет контейнер */
    min-height: 52px;
}

.reserve-button-wrap {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    
}

.reserve__button {
    min-width: 300px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--main-color-2, #6C0287);
    box-shadow: 0 0 10px #ffffff;
}

.reserve__button:hover {
    background: #EADEED;
    border: 3px solid var(--main-color-2, #6C0287);
    border-radius: 10px;
    transition-duration: 0.2s;
}

.reserve__button:focus {
    border: 3px solid var(--main-color-2, #6C0287);
    border-radius: 10px;
    background: #FFFFFF;
    transition-duration: 0.6;
}

.reserve__button:active {
    background: #EADEED;
    border-radius: 10px;
}
