.reviews {
    padding-top: 45px;
    padding-bottom: 50px;
}

.reviews__title {
    margin-bottom: 45px;
}

.reviews__list {
    max-width: 980px;
    margin: 0 auto;
}

.reviews__item {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.reviews__item:last-child {
    margin-bottom: 0;
}

.reviews__photo-wraper {
    /* position: relative;     Для позиционирования псевдоэлемента - имени автора */
    max-height: 319px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: center;
    align-items: center;
}

.reviews__autor { /*Для имени автора отзыва*/
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.reviews__reviewer-text {
    font-size: 20px;
    padding-top: 52px;
    max-width: 680px;
}

.reviews__first-autor {
    background: radial-gradient(50% 50% at 50% 50%, 
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%), 
            url("../img/person-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 140px;
    width: 280px;
    flex-basis: 280px;
}

.reviews__second-autor {
    position: relative;     /*Для позиционирования псевдоэлемента - имени автора*/
    background: radial-gradient(50% 50% at 50% 50%, 
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%),
            url("../img/person-2.png");
    border-radius: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    flex-basis: 280px;
}


.reviews__third-autor {
    position: relative;     /*Для позиционирования псевдоэлемента - имени автора*/
    background: radial-gradient(50% 50% at 50% 50%, 
    rgba(196, 196, 196, 0) 0%,
    rgba(108, 2, 135, 0.5) 100%),
    url("../img/person-3.png");
    border-radius: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    flex-basis: 280px;
}

.button-left,
.button-right {
    position: absolute;
    width: 46px;
    height: 46px;
    top: calc(50% - 23px);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
}

.button-right {
    right: 0;
}

.button-left {
    left: 0;
}

.slider-container {
    position: relative;
}

@media (max-width: 1310px) {
    .reviews {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    /* .reviews__list {
        max-width: 752px;

    } */

    .reviews__title {
        margin-bottom: 26px;
    }

    .reviews__first-autor,
    .reviews__second-autor,
    .reviews__third-autor {
    width: 172px;
    flex-basis: 172px;
    }

    .reviews__item {
        gap: 38px;
        margin-bottom: 40px;
    }

    .reviews__photo-wraper {
        gap: 21px;
    }

    .reviews__autor {
        font-size: 18px;
        line-height: 26px;
    }

    .reviews__reviewer-text {
        font-size: 18px;
        line-height: 26px;
        max-width: 515px;
    }

    /* .swiper {
        width: 600px;
        height: 300px;
    } */
}

@media (max-width: 1040px) {
    .reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .reviews__title {
        margin-bottom: 61px;
    }

    .reviews__first-autor,
    .reviews__second-autor,
    .reviews__third-autor {
    width: 153px;
    flex-basis: 153px;
    }

    .reviews__item {
        gap: 15px;
        margin-bottom: 30px;
    }

    .reviews__photo-wraper {
        gap: 17px;
    }

    .reviews__autor {
        font-size: 14px;
        line-height: 20px;
    }

    .reviews__reviewer-text {
        font-size: 16px;
        line-height: 22px;
        max-width: 360px;
    }
}
    
@media (max-width: 660px) {
    .reviews {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .reviews__title {
        margin-bottom: 15px;
    }

    .reviews__first-autor,
    .reviews__second-autor,
    .reviews__third-autor {
    width: 86px;
    flex-basis: 86px;
    }
    

    .reviews__item {
        gap: 16px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .reviews__photo-wraper {
        gap: 9px;
    }

    .reviews__autor {
        font-size: 14px;
        line-height: 20px;
    }

    .reviews__reviewer-text {
        font-size: 12px;
        line-height: 16px;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    .button-right {
        top: 20%;
    }
    
    .button-left {
        top: 20%;
    }
}