.reviews {
    padding-top: 45px;
    padding-bottom: 50px;
}

.reviews__title {
    margin-bottom: 45px;
}

.reviews__list {
    max-width: 980px;
    margin: 0 auto;

}
.reviews__item {
    position: relative;
    display: flex;
    gap: 20px;
}

.reviews__photo-wraper {
    /* position: relative;     Для позиционирования псевдоэлемента - имени автора */
    max-height: 319px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: center;
    align-items: center;
}
.reviews__autor { /*Для имени автора отзыва*/
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.reviews__reviewer-text {
    font-size: 20px;
    padding-top: 52px;
}

.reviews__first-autor {
    background: radial-gradient(50% 50% at 50% 50%, 
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%), 
            url("../img/person-1.png");
    background-repeat: no-repeat;
    border-radius: 140px;
    width: 280px;
    height: 280px;
}

.reviews__second-autor {
    position: relative;     /*Для позиционирования псевдоэлемента - имени автора*/
    background: radial-gradient(50% 50% at 50% 50%, 
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%),
            url("../img/person-2.png");
    border-radius: 140px;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;
}


.reviews__third-autor {
    position: relative;     /*Для позиционирования псевдоэлемента - имени автора*/
    background: radial-gradient(50% 50% at 50% 50%, 
    rgba(196, 196, 196, 0) 0%,
    rgba(108, 2, 135, 0.5) 100%),
    url("../img/person-3.png");
    border-radius: 140px;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;
}

.reviews__item_mb {
    margin-bottom: 50px;
}
