.welcome {

    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome-container{
    box-sizing: content-box;
    position: relative; 
    z-index: 0;         
    max-width: 1180px;      
    min-height: 823px;
}

.welcome-container:before {
    content: "";
    position: absolute; 
    width: 675px;       
    height: 762px;
    right: 130px;           
    bottom: 0; 
    z-index: 1; 
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;           
}

.welcome__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 100%;
    text-align: left;
    letter-spacing: -0.1em;
    margin: 0;
}

.welcome__text {
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
    margin-bottom: 30px;
}

.welcome__advantages {
    display: inline-block;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    width: min-content;
    margin-bottom: 150px;
}

.welcome__advantages:not(:last-of-type){
    margin-right: 35px;
}

.welcome__advantages-number  {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: var(--main-color-1, #CD06FF);
    font-variant: all-small-caps;
}

.welcome__advantages-text {
    font-weight: 900;
    line-height: 106px;
    font-size: 75px;
    font-variant: all-small-caps;
    color: var(--main-color-1, #CD06FF);
}

.welcome__reserve-link{
    display: block;
    box-sizing: border-box;
    max-width: 374px;
    padding: 25px 69px;
    background: var(--main-color-2, #6C0287);
    box-shadow: 0 0 10px var(--main-color-2, #6c0287);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
}

.welcome__reserve-link:hover,
.welcome__reserve-link:focus  {
    background: #840AA3;
    border-radius: 10px;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}


.welcome__reserve-link:active{
    background: var(--main-color-3, #640AA3);
    border-radius: 10px;
}

.welcome__down-link {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    height: 97px;
    width: 97px;
    background-image: url("../img/icons/down.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome__down-link:hover{
    background-image: url("../img/icons/down_hover.svg");
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

.welcome__down-link:focus{
    background-image: url("../img/icons/down_focus.svg");
    transition-duration: 0.6s;
    transition-delay: 0.2s;
    border: 1px solid var(--main-color-1, #CD06FF);
    outline: none;
}

.welcome__down-link:active{
    background-image: url("../img/icons/down_active.svg");
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

    @media (max-width: 1310px) {

        .welcome {
            padding-top: 30px;
            padding-bottom: 42px;
        }

        .welcome-container {
            min-height: 583px;
            max-width: 904px;
        }

        .welcome__title {
            font-size: 120px;
            margin-bottom: 20px;
        }

        .welcome__text {
            font-size: 22px;
            line-height: 30px;
        }

        .welcome__advantages-number {
            font-size: 80px;
            line-height: 113px;            
        }

        .welcome__advantages {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 80px;                       
        }

        .welcome__advantages-text {
            font-size: 60px;
            line-height: 85px;
        }

        .welcome__reserve-link {
            max-width: 296px;
            padding: 17px 48px;
            font-size: 22px;          
        }

        .welcome__down-link {
            height: 67px;
            width: 67px;
            bottom: 46px;
        }

        .welcome-container:before {
            width: 453px;
            height: 520px;
            right: 60px; 
        }
    }

    @media (max-width: 1040px) {

        .welcome {
            padding-top: 30px;
            padding-bottom: 40px;
        }

        .welcome-container {
            min-height: 537px;
            max-width: 688px;
        }

        .welcome__title {
            font-size: 86px;
        }

        .welcome__text {
            font-size: 18px;
            line-height: 24px;
            padding-left: 70px;
            margin-bottom: 50px;
        }

        .welcome__advantages-number {
            font-size: 50px;
            line-height: 71px;
        }

        .welcome__advantages {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 100px;
        }

        .welcome__advantages:not(:last-of-type) {
            margin-right: 30px;
        }

        .welcome__advantages-text {
            font-size: 40px;
            line-height: 56px;
        }

        .welcome__reserve-link {
            max-width: 214px;
            padding: 11px 35px;

            font-size: 16px;
            line-height: 24px;            
        }

        .welcome__down-link {
            display: none;
        }

        .welcome-container:before {
            width: 409px;
            height: 479px;
            right: 40px; 
        }
    }

    @media (max-width: 660px) {

        .welcome {
            padding-top: 20px;
            padding-bottom: 23px;
        }

        .welcome-container {
            min-height: 204px;
            max-width: 280px;
        }

        .welcome__title {
            font-size: 35px;
            margin-bottom: 6px;
        }

        .welcome__text {
            font-size: 10px;
            line-height: 14px;
            padding-left: 20px;
            margin-bottom: 10px;
        }

        .welcome__advantages-number {
            font-size: 26px;
            line-height: 37px;
        }

        .welcome__advantages {
            font-size: 10px;
            line-height: 11px;
            margin-bottom: 30px;
        }

        .welcome__advantages:not(:last-of-type) {
            margin-right: 20px;
        }

        .welcome__advantages-text {
            font-size: 22px;
            line-height: 31px;
        }

        .welcome__reserve-link {
            max-width: 117px;
            padding: 7px 13px;

            font-size: 10px;
            line-height: 12px;
        }

        .welcome-container:before {
            width: 161px;
            height: 179px;
            right: 20px; 
        }
    }
